<article class="accordion">

	<section id="INFO">
		<h2><a href="#INFO">SKANY.CISOWSCY.COM</a></h2>
		<p><app-skany-info></app-skany-info></p>
	</section>
	
	<section id="SZUKAJ">
		<h2><a href="#SZUKAJ">PRZEGLĄDAJ ZASÓB</a></h2>
		<p><app-skany-filtrowanie></app-skany-filtrowanie></p>
	</section>
	
	<section id="WYBIERZ">
		<h2><a href="#WYBIERZ">REZULTAT FILTROWANIA</a></h2>
		<p><app-skany-odfiltrowane></app-skany-odfiltrowane></p>
	</section>
	
	<section id="PRZEGLADAJ">
		<h2><a href="#PRZEGLADAJ">PRZEGLĄDAJ POZYCJE</a></h2>
		<p><app-skany-pozycja-przegladarka></app-skany-pozycja-przegladarka></p>
	</section>
	
	<section id="SZCZEGOLY">
		<h2><a href="#SZCZEGOLY">INFORMACJE O POZYCJI</a></h2>
		<p><app-skany-pozycja-szczegoly></app-skany-pozycja-szczegoly></p>
	</section>

</article>

<router-outlet></router-outlet>
