.problemy-z-dialogami {
  display: inline;
}

.pustostan-plynny {
  display: flex;
  flex-flow: row wrap;
}

.karta {
  margin: 10px;
  height: 100%;
  border-radius: 25px 25px 10px 60px;
  .mat-card-content{
      color: rgba(0, 0, 0, 0.9);
      font-weight: bolder;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px;
       border-radius: 10px 10px 0px 1px;
       text-align: center;
  }
  
  .mat-card-actions {
    display: flex;
    flex-direction: column;
    .mat-raised-button {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 5px 5px 5px 5px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: bolder;
      text-align: center;
      
      .mat-card-title {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bolder;  
    padding-top: 20px;  
  }
    }
  }
}

.czerwo400 {
  background-color: rgba(239, 83, 80, 0.9);
  
}
.fiolet400{
   background-color: rgba(171,71,188 ,0.9);
}

.granat400{
    background-color: rgba(92,107,192 ,0.9);
}
.rozowy300{
    background-color: rgba(240,98,146 ,0.9);
}
.bursztyn300{
    background-color: rgba(255,138,101 ,0.9);
}
.jesien700{
    background-color: rgba(175,180,43 ,0.9);
}
.morze700{
    background-color: rgba(0,121,107 ,0.9);
}
.null000{
     background-color: rgba(0, 0, 0, 0.1);
}