<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: 

<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>-->


<sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">
      <!--(mapClick)="mapClicked($event)"-->
    
      <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"   
          [title]="m.tytul"      
          [label]="m.label"
          [markerDraggable]="m.draggable"
          [iconUrl]="m.pinezka"         
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>     
    
      <sebm-google-map-circle 
        *ngFor="let c of circlers; let i = index"
        (circleClick)="clickedCircle(i)" 
          [latitude]="c.lat"
          [longitude]="c.lng"
          [radius]="c.rad"         
          [fillColor]="c.barwa"
          [circleDraggable]="c.draggable"
          [editable]="c.editable">

          <sebm-google-map-info-window >
         Hi, this is the content of the <strong>info window</strong>
       </sebm-google-map-info-window>
          
      </sebm-google-map-circle>

    </sebm-google-map>