.mat-dialog-container-my {
    display: block;
	height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin: auto;
	background-color: rgba(38,50,56 ,1);
	overflow: auto;
	border-radius: 10px;

}