<!--<section >
<button md-raised-button color="primary" (click)="openDIALOG01()" [disabled]="dialogRef">
  DIALOG 01
</button>
<button md-raised-button color="accent" (click)="openDIALOG02a()">
  Open dialog with content elements
</button>
<button md-raised-button color="accent" (click)="openDIALOG()">
  Open dialog with template content
</button>

<md-card class="demo-dialog-card" >
  <md-card-content>
    <h2>Dialog dimensions</h2>
    

  </md-card-content>
</md-card>


</section>-->

<section>
  <md-card>
    <md-card-title><strong>{{podtytul}}</strong></md-card-title>
    <md-card-content>
      
      <md-list>
       
  <md-list-item>{{krok1}}</md-list-item>
  
  <md-list-item>{{krok2}}</md-list-item>
  
  <md-list-item>{{krok3}}</md-list-item>
  
</md-list>

<form class="example-form">
  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="LINK DO PIERWSZEJ STRONY">http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0000-metryczka.htm</textarea>
    </md-input-container>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="LINK DO OSTATNIEJ STRONY">http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0161.htm</textarea>
    </md-input-container>
  </p>
</form>

    </md-card-content>
  </md-card>

  <b>KRÓTKI INSTRUKTAŻ</b>
        <ol>
            <li><b>Wejdź na stronę <a href="http://www.agad.gov.pl/inwentarze/testy.html">http://www.agad.gov.pl/inwentarze/testy.html</a> i otwórz skany interesującej Cię pozycji np.:</b>
                <i><table>
                    <tr>
                        <td>Sygn.:</td>
                        <td>126</td>
                    </tr>
                    <tr>
                        <td>Tytuł:</td>
                        <td>Par. Buczacz, dek. Buczacz; Księga metrykalna chrztów dla całej parafii</td>
                    </tr>
                    <tr>
                        <td>Daty:</td>
                        <td>1752-1777</td>
                    </tr>
                    <tr>
                        <td>Opis:</td>
                        <td>księga oprawna, s. 320</td>
                    </tr>
                    <tr>
                        <td>Dawna Sygn.:</td>
                        <td>P-862, 36/2</td>
                    </tr>
                    <tr>
                        <td>Skany:</td>
                        <td><a href="http://agadd.home.net.pl/metrykalia/301/sygn.%20126/indeks.htm">http://agadd.home.net.pl/metrykalia/301/sygn.%20126/indeks.htm</a></td>
                    </tr>
                    <tr>
                        <td>Język:</td>
                        <td>łac.</td>
                    </tr>
                    <tr>
                        <td colspan="2">wpisy bez rubryk; księga przekazana do AGAD z AP - Przemyśl w 1993 r. <br>Mikrofilm: 73922</td>
                    </tr>
                </table></i><br>
            </li>
            <li><b>Następnie otwórz pierwszy element (metryczke) i skopiuj adres jego linku <br>np.
                </b><a href="http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0000-metryczka.htm">http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0000-metryczka.htm</a><b>, i wklej go poniżej</b><br><br>
                <form name="f1">
                    <input name="adresHTML_metryczki" id="adresHTML_metryczki" type="text" size="125" /> <br />
                </form> <br></li>
            <li><b>Następnie udaj się na sam koniec i otwórz ostatni skan poprzedzający tablicę końcową, i skopiuj adres jego linku <br>np.
                </b><a href="http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0161.htm">http://agadd.home.net.pl/metrykalia/301/sygn.%20126/pages/PL_1_301_126_0161.htm</a><b>, i wklej poniżej</b><br><br>
                <form name="f2">
                    <input name="adresHTML_ostatniego" id="adresHTML_ostatniego" type="text" size="125" /> <br />
                </form> <br>
                <button type="button" id="load_us">Zaladuj</button>&nbsp;&nbsp;&nbsp;<button type="button" id="view1">Widok miniatur</button> <button type="button" id="view2">Widok pełny</button>
            </li>
            <!--<li><b>Jeśli zostały poprawnie wprowadzone powyższe adresy ten tekst zniknie i zostaną wyświetlone Wszystkie Skany, następnie zapisz stronę aby zapisać wszystkie elementy Dziękuję za uwagę,  😊 </b><br></li>-->
        </ol>
</section>
<section>
  <hr>
    <div id="results_info"></div>
    <div id="results" class="thumbs"></div>
    <hr>
</section>
